$body-background-color: black;
$text-color: lightgray;
$icon-color: white;

$header-background-color: #888888;
$block-background-color: #292929;
$content-background-color: #1C1C1C;
$hover-background-color: #888888;